html {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

.navigation-row {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-row__logo {
  position: relative;
}

.navigation-row__logo h1, .navigation-row__logo span {
  display: inline;
  font-size: 3rem;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.navigation-row_nav {
  width: 65%;
  max-width: 900px;
}

.nav-ul {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.nav-ul li .nav-a {
  line-height: 55px;
  display: block;
  height: 60px;
  color: inherit;
  text-decoration: none;
  padding: 0 15px;
}

.nav-ul li .nav-a:hover {
  border-bottom: 3px solid #fff;
}

.starter {
  display: block;
  margin-left: 60px;
  padding-top: 14px;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}

a:-webkit-any-link {
  text-decoration: none;
}

.header {
  color: #fff;
  height: 100vh;
  min-height: 460px;
  position: relative;
  background: url(../images/glasses.png) center/cover no-repeat;
}

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 0;
  background-image: linear-gradient(-60deg, #88d3ce 0%, #6e45e2 100%);
}

.header__body {
  height: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__shield {
  display: none;
}

.header-navigation-row {
  padding: 60px 50px 0;
  width: 100%;
}

.header__starter {
  color: inherit;
}

.header__burger {
  display: none;
  position: relative;
  width: 45px;
  height: 45px;
  margin: 7px 7px 0 0;
}

.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 491px;
  height: 215px;
}

.header__hero .hero-present {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.header__hero .hero-present:before, .header__hero .hero-present:after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  vertical-align: 5px;
  margin: 0 5px;
}

.header__hero .hero-title {
  font-size: 8.6rem;
  font-weight: 500;
  letter-spacing: -2.42px;
}

.header__hero .hero-subtitle {
  font-size: 1.6rem;
  line-height: 2.6rem;
  max-width: 383px;
}

.header__scroll-down button {
  border: none;
  outline: none;
  width: 64px;
  height: 64px;
  -webkit-box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
          box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 4vh;
}

.header__scroll-down button img {
  margin-top: 4px;
  width: 26px;
  opacity: 0.7;
}

@media (max-width: 1199px) {
  .header-navigation-row {
    padding: 30px 15px 0;
  }
}

@media (max-width: 991px) {
  .header__shield {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    font-size: 3rem;
    line-height: 6rem;
    background-image: -webkit-gradient(linear, left top, right top, from(#a6c2e705), color-stop(15%, #6f45e2e3));
    background-image: linear-gradient(90deg, #a6c2e705 0%, #6f45e2e3 15%);
    background-image: -webkit-gradient(linear, left top, right top, from(#a6c2e71a), color-stop(10%, #ca69b5ce), color-stop(35%, #ad1ae7f5), color-stop(80%, #6f45e2));
    background-image: linear-gradient(90deg, #a6c2e71a 0%, #ca69b5ce 10%, #ad1ae7f5 35%, #6f45e2 80%);
  }
  .header__shield_active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .header__burger {
    display: block;
    color: #fff;
    z-index: 10;
    font-size: 3.4rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: url(../images/burger-icon.svg) center/contain no-repeat;
  }
  .header__burger_active {
    background-image: url(../images/close-icon.svg);
    background-size: 32px;
  }
  .header__nav-ul {
    -webkit-transition: opacity 0.4s ease 0.2s;
    transition: opacity 0.4s ease 0.2s;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 90vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
  .header__nav-ul_active {
    visibility: visible;
    opacity: 1;
  }
  .header__nav-ul li {
    width: 280px;
    margin: 0 auto;
  }
  .header__nav-ul li:first-child {
    padding-top: 12vh;
  }
  .header__nav-ul li .nav-a {
    font-size: 3rem;
    text-align: center;
    color: inherit;
    padding: 0;
  }
  .header__nav-ul .header__starter-li {
    padding-top: 0;
  }
  .header__nav-ul .header__starter-li .header__starter {
    font-size: 3rem;
    margin-left: 15px;
    padding-bottom: 5px;
    line-height: 4rem;
    display: block;
    height: 70px;
    width: 250px;
  }
}

@media (max-width: 575px) {
  .header-navigation-row {
    padding-top: 10px;
  }
  .header__hero {
    width: 300px;
    height: 175px;
  }
  .header__hero .hero-present {
    font-size: 1.2rem;
  }
  .header__hero .hero-title {
    font-size: 5.5rem;
  }
  .header__hero .hero-subtitle {
    width: 300px;
    line-height: 20px;
  }
}

@media (max-height: 510px) {
  .header__nav-ul li:first-child {
    padding-top: 0;
  }
  .header__nav-ul li .nav-a {
    font-size: 2.4rem;
    height: 40px;
  }
  .header__nav-ul .header__starter-li .header__starter {
    height: 40px;
    padding-top: 0;
  }
}

.subscriptions {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
  min-height: 720px;
  background-color: #f9fafc;
}

.subscriptions__header-row {
  padding: 10vh 15px 0;
  height: 35vh;
  min-height: 252px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.subscriptions__plans {
  padding-bottom: 6vh;
  height: 65vh;
  min-height: 468px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscriptions__pre-title {
  margin-bottom: 1.7vh;
  color: #9fa4af;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.subscriptions__pre-title:before, .subscriptions__pre-title:after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #6e45e2;
  display: inline-block;
  margin: 0 5px;
  vertical-align: 5px;
}

.subscriptions__title {
  margin-bottom: 2.4vh;
  color: #4f4f6f;
  width: 375px;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -1.69px;
}

.subscriptions__subtitle {
  color: #9fa4af;
  font-size: 16px;
  width: 100%;
}

.plan-card {
  margin: 0 10px;
  padding: 4.7vh 0 5.6vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 440px;
  height: 100%;
  min-height: 432px;
  border-radius: 30px;
  border: 1px solid #d7dbe8;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.plan-card:hover {
  -webkit-box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
          box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
  background-color: #ffffff;
}

.plan-card__logo {
  width: 120px;
  height: 120px;
}

.plan-card__name {
  color: #5e636b;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.plan-card__price {
  position: relative;
  font-weight: 500;
  color: #4f4f6f;
}

.plan-card__price .price-dollar {
  position: absolute;
  top: 23px;
  left: -10px;
  font-size: 16px;
  letter-spacing: -0.64px;
}

.plan-card__price .price-num {
  font-size: 60px;
  letter-spacing: -1.69px;
}

.plan-card__price .price-period {
  font-size: 18px;
  letter-spacing: -0.51px;
}

.plan-card__definition {
  max-width: 300px;
  color: #9fa4af;
  font-size: 16px;
  line-height: 25px;
  margin: 0 1vh 1vh 1vh;
}

.plan-card__btn {
  width: 190px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #d7dbe8;
  text-transform: uppercase;
  color: #c2c9db;
  font-size: 12px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.plan-card__btn:hover {
  outline: none;
  -webkit-box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
          box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
  background-color: #6e45e2;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.card-logo1 {
  background: url(../images/free-logo.png) no-repeat center/contain;
}

.card-logo2 {
  background: url(../images/standart-logo.png) no-repeat center/contain;
}

.card-logo3 {
  background: url(../images/personal-logo.png) no-repeat center/contain;
}

@media (max-width: 991px) {
  .subscriptions {
    padding: 0 20px;
    min-height: 650px;
  }
  .subscriptions__header-row {
    padding: 30px 15px 0;
    height: 30vh;
    min-height: 186px;
  }
  .subscriptions__plans {
    padding-bottom: 4vh;
    height: 70vh;
    min-height: 434px;
  }
  .subscriptions__pre-title {
    margin-bottom: 1vh;
  }
  .subscriptions__title {
    margin-bottom: 1.4vh;
    font-size: 52px;
  }
  .plan-card {
    margin: 0 7px;
  }
}

@media (max-width: 767px) {
  .subscriptions {
    height: auto;
  }
  .subscriptions__plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .plan-card {
    margin: 10px;
    height: auto;
  }
}

@media (max-width: 575px) {
  .subscriptions__header-row {
    padding: 30px 0 0;
    width: 100%;
    height: auto;
  }
  .subscriptions__plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscriptions__title {
    width: auto;
    font-size: 50px;
  }
  .plan-card {
    margin: 3vh 0;
    padding: 4.7vh 0 5.6vh 0;
    width: 95%;
    height: auto;
  }
  .plan-card__definition {
    margin: 5px;
  }
}

.cta {
  position: relative;
  background: url(../images/world-map.png) no-repeat center;
  background-size: auto;
}

.cta__overlay {
  background-image: linear-gradient(-60deg, #88d3ce 0%, #6e45e2 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 0;
}

.cta__body {
  padding: 15px;
  position: relative;
  z-index: 1;
  color: #ffffff;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cta__pre-title {
  padding-top: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.cta__title {
  padding: 20px 0;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -1.69px;
}

.cta__buttons {
  padding: 3vh;
}

.cta__btn {
  margin: 0 6px;
  outline: none;
  display: inline;
  padding: 5px 0 9px 0;
  border: none;
  width: 190px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cta__btn p {
  color: #868b97;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.cta__btn:hover {
  outline: none;
  display: inline;
  padding: 5px 0 9px 0;
  border: none;
  width: 190px;
  height: 50px;
  border-radius: 25px;
  background-color: #6e45e2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.cta__btn:hover p {
  color: #ffffff;
  font-family: "Maven Pro", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

@media (max-width: 575px) {
  .cta__body {
    height: auto;
    min-height: 80vh;
  }
  .cta__title {
    font-size: 5.0rem;
    font-weight: 500;
    letter-spacing: -1.69px;
  }
  .cta__btn {
    margin-bottom: 10px;
  }
}

footer {
  margin: 0 50px;
}

.footer-navigation-row {
  border-bottom: 1px solid black;
}

.footer__starter-li .footer__starter {
  border: 1px solid black;
  color: black;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  padding: 17px 0;
  margin-bottom: 15px;
}

.footer__bottom .footer__copyright {
  padding: 6px 0 0 0;
}

.footer__bottom .footer__social-links img {
  width: 25px;
}

@media (max-width: 1199px) {
  footer {
    margin: 0 15px;
  }
}

@media (max-width: 991px) {
  .footer-navigation-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-navigation-row__nav {
    display: none;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom .footer_copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 1.5rem;
    padding: 18px 0 0 0;
  }
  .footer__bottom .footer__social-links {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 20px;
  }
  .footer__bottom .footer__social-links img {
    padding: 4px;
    margin: 7px;
    width: 46px;
  }
}

@media (max-width: 1199px) {
  .starter-li .starter {
    margin-left: 25px;
  }
}

@media (max-width: 575px) {
  .navigation-row__logo h1 {
    font-size: 2.3rem;
    line-height: 30px;
    letter-spacing: 4px;
  }
}
/*# sourceMappingURL=style.css.map */