html {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

.header {
  font-family: "Maven Pro",  sans-serif;
  color: #fff;
  height: 100vh;
  min-height: 430px;
  position: relative;
  background: url(../images/glasses.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
}

.header .header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 0;
  background-image: linear-gradient(-60deg, #88d3ce 0%, #6e45e2 100%);
}

.header .header__body {
  height: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation-row {
  height: 80px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation-row .header__logo {
  position: relative;
}

.header__navigation-row .header__logo span {
  font-size: 3rem;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: 6px;
  position: absolute;
  top: 40%;
}

.header__nav {
  width: 65%;
  max-width: 900px;
}

.header__nav ul {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__nav ul li a {
  line-height: 55px;
  display: block;
  height: 60px;
  color: inherit;
  text-decoration: none;
  padding: 0 7px;
}

.header__nav ul li a:hover {
  border-bottom: 3px solid #fff;
}

.header__starter {
  display: block;
  margin-left: 60px;
  padding-top: 14px;
  text-align: center;
  width: 150px;
  height: 50px;
  color: inherit;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}

.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 491px;
  height: 215px;
}

.header__hero .header__hero-present {
  color: #ffffff;
  font-family: "Maven Pro";
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.header__hero .header__hero-present:before {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  vertical-align: 5px;
  margin-right: 5px;
}

.header__hero .header__hero-present:after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  vertical-align: 5px;
  margin-left: 5px;
}

.header__hero .header__hero-title {
  text-align: center;
  color: #ffffff;
  font-size: 8.6rem;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -2.42px;
}

.header__hero .header__hero-subtitle {
  text-align: center;
  width: 383px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
}

.header__scroll-down button {
  border: none;
  outline: none;
  width: 64px;
  height: 64px;
  -webkit-box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
          box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 4vh;
}

.header__scroll-down button img {
  margin-top: 4px;
  width: 26px;
  opacity: 0.7;
}

.header__m-fa {
  display: none;
}

.header__m-fa i {
  fill: #fff;
}

.m-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  line-height: 6rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#88d3ce1c), color-stop(20%, #6e45e2));
  background-image: linear-gradient(90deg, #88d3ce1c 0%, #6e45e2 20%);
}

.subscriptions {
  -webkit-box-shadow: inset 0 -1px 0 #e8ebf1, inset 0 1px 0 #e8ebf1;
          box-shadow: inset 0 -1px 0 #e8ebf1, inset 0 1px 0 #e8ebf1;
  background-color: #f9fafc;
}

.subscriptions__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  height: 100vh;
  min-height: 720px;
  margin: 0 auto;
  padding: 8vh 0;
}

.subscriptions__header-text {
  width: 375px;
  height: 161px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8.5vh;
}

.subscriptions__header-text .subscriptions__pre-title {
  margin-bottom: 1.7vh;
  color: #9fa4af;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.subscriptions__header-text .subscriptions__pre-title:before {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #6e45e2;
  display: inline-block;
  vertical-align: 5px;
  margin-right: 5px;
}

.subscriptions__header-text .subscriptions__pre-title:after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #6e45e2;
  display: inline-block;
  vertical-align: middle;
  vertical-align: 5px;
  margin-left: 5px;
}

.subscriptions__header-text .subscriptions__title {
  margin-bottom: 2.4vh;
  color: #4f4f6f;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -1.69px;
}

.subscriptions__header-text .subscriptions__subtitle {
  width: 384px;
  color: #9fa4af;
  font-size: 16px;
  font-weight: 400;
}

.subscriptions__plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscriptions__plans .subscriptions__card {
  margin: 0 10px;
  padding: 4.7vh 0 5.6vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 440px;
  height: 60vh;
  min-height: 432px;
  border-radius: 30px;
  border: 1px solid #d7dbe8;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.subscriptions__plans .subscriptions__card .subscriptions__card-logo {
  width: 120px;
  height: 120px;
}

.subscriptions__plans .subscriptions__card .subscriptions__card-name {
  color: #5e636b;
  font-family: "Maven Pro";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.subscriptions__plans .subscriptions__card .subscriptions__card-price {
  position: relative;
}

.subscriptions__plans .subscriptions__card .subscriptions__card-price .subscriptions__card-price-dollar {
  position: absolute;
  top: 23px;
  left: -10px;
  color: #4f4f6f;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.64px;
}

.subscriptions__plans .subscriptions__card .subscriptions__card-price .subscriptions__card-price-num {
  color: #4f4f6f;
  font-size: 18px;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: -1.69px;
}

.subscriptions__plans .subscriptions__card .subscriptions__card-price .subscriptions__card-price-period {
  color: #4f4f6f;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.51px;
}

.subscriptions__plans .subscriptions__card .subscriptions__card-definition {
  max-width: 300px;
  color: #9fa4af;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 0 1vh 1vh 1vh;
}

.subscriptions__plans .subscriptions__card .subscriptions__card-btn {
  width: 190px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #d7dbe8;
  text-transform: uppercase;
  color: #c2c9db;
  font-size: 12px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card-logo1 {
  background: url(../images/free-logo.png) no-repeat center/contain;
}

.card-logo2 {
  background: url(../images/standart-logo.png) no-repeat center/contain;
}

.card-logo3 {
  background: url(../images/personal-logo.png) no-repeat center/contain;
}

.subscriptions__card:hover {
  -webkit-box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
          box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.subscriptions__card-btn:hover {
  outline: none;
  -webkit-box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
          box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
  background-color: #6e45e2;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.cta {
  position: relative;
  background: url(../images/world-map.png) no-repeat center;
  background-size: auto;
}

.cta .cta__overlay {
  background-image: linear-gradient(-60deg, #88d3ce 0%, #6e45e2 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 0;
}

.cta .cta_body {
  position: relative;
  z-index: 1;
  color: #ffffff;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cta .cta_body .cta__pre-title {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.cta .cta_body .cta__title {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -1.69px;
}

.cta .cta_body .cta__buttons {
  padding: 3vh;
}

.cta .cta_body .cta__buttons .cta__btn {
  margin: 0 6px;
  outline: none;
  display: inline;
  padding: 5px 0 9px 0;
  border: none;
  width: 190px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cta .cta_body .cta__buttons .cta__btn p {
  color: #868b97;
  font-family: "Maven Pro", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.cta .cta_body .cta__buttons .cta__btn:hover {
  outline: none;
  display: inline;
  padding: 5px 0 9px 0;
  border: none;
  width: 190px;
  height: 50px;
  border-radius: 25px;
  background-color: #6e45e2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.cta .cta_body .cta__buttons .cta__btn:hover p {
  color: #ffffff;
  font-family: "Maven Pro", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__line {
  display: block;
  height: 1px;
  width: 90%;
  background-color: #777;
  margin-top: 1px;
}

.footer__bottom {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.footer__bottom .footer__social-links {
  color: #777;
}

.footer__starter {
  display: block;
  margin-left: 60px;
  padding-top: 14px;
  background-color: #6e45e2;
  width: 150px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 25px;
}

.footer__starter span {
  font-size: 1.2rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.footer__bottom {
  font-size: 1.8rem;
  padding: 16px 0;
}

.footer__bottom .footer_copyright {
  padding: 6px 0 0 0;
}

.footer__bottom .footer__social-links {
  font-size: 2.7rem;
}

.footer__bottom .footer__social-links .fa {
  color: #777;
}

@media (max-width: 1199px) {
  nav.header__nav {
    width: 65%;
  }
  .header__nav-a {
    font-size: 1.4rem;
  }
  .header__starter_li {
    font-size: 1.4rem;
  }
  .header__starter_li .header__starter {
    margin-left: 5px;
  }
  .footer__bottom {
    padding: 16px 0;
  }
  .footer__bottom .footer_copyright {
    font-size: 1.4rem;
    padding: 6px 0 0 0;
  }
  .footer__bottom .footer__social-links {
    font-size: 3.4rem !important;
  }
  .footer__starter {
    border: 1px dotted red;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  .visible-lg {
    display: none;
  }
  .header__m-fa {
    display: block;
    color: #fff;
    font-size: 3.4rem;
  }
  .m-menu .close-m-menu {
    color: #fff;
    font-size: 8rem;
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
  }
  .m-menu_active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  ul {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  ul li .header__nav-a {
    font-size: 3rem;
    line-height: 55px;
    display: block;
    height: 10vh;
    color: inherit;
    text-decoration: none;
    padding: 0 7px;
  }
  ul .header__starter_li a {
    font-size: 3rem;
    line-height: 55px;
    display: block;
    height: 80px;
    width: 250px;
  }
  .footer__navigation-row .header__logo {
    margin: 0 auto;
    position: relative;
    top: 0;
    right: 10%;
  }
}

@media (max-width: 767px) {
  .subscriptions__body {
    height: auto;
    padding: 5vh 0;
  }
  .subscriptions__body .subscriptions__header-text {
    width: 375px;
    height: 161px;
    margin-bottom: 1.5vh;
  }
  .subscriptions__body .subscriptions__header-text .subscriptions__pre-title {
    font-size: 1.4rem;
  }
  .subscriptions__body .subscriptions__header-text .subscriptions__title {
    margin-bottom: 2.4vh;
  }
  .subscriptions__body .subscriptions__header-text .subscriptions__subtitle {
    width: 384px;
  }
  .subscriptions__body .subscriptions__plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscriptions__body .subscriptions__plans .subscriptions__card {
    margin: 3vh 0;
    padding: 4.7vh 0 5.6vh 0;
    width: 440px;
  }
  .subscriptions__body .subscriptions__plans .subscriptions__card .subscriptions__card-name {
    font-size: 1.4rem;
  }
  .subscriptions__body .subscriptions__plans .subscriptions__card .subscriptions__card-definition {
    max-width: 300px;
    margin: 0 1vh 1vh 1vh;
  }
  .subscriptions__body .subscriptions__plans .subscriptions__card .subscriptions__card-btn {
    width: 190px;
    height: 50px;
    border-radius: 25px;
  }
  .footer__bottom {
    padding: 16px 0;
  }
  .footer__bottom .footer_copyright {
    font-size: 1.4rem;
    padding: 0;
  }
  .footer__bottom .footer__social-links {
    margin-left: 20px;
    min-width: 158px;
    font-size: 3.4rem !important;
  }
}

@media (max-width: 575px) {
  .header__hero {
    width: 300px;
  }
  .header__hero .header__hero-present {
    font-size: 1.2rem;
  }
  .header__hero .header__hero-title {
    font-size: 7rem;
  }
  .header__hero .header__hero-subtitle {
    width: 300px;
    line-height: 20px;
  }
  .cta__title {
    font-size: 5.0rem !important;
    font-weight: 500;
    letter-spacing: -1.69px;
  }
  .subscriptions__body {
    height: auto;
    padding: 5vh 0;
  }
  .subscriptions__body .subscriptions__header-text {
    width: 300px;
    height: auto;
    margin-bottom: 1.5vh;
  }
  .subscriptions__body .subscriptions__header-text .subscriptions__pre-title {
    font-size: 1.4rem;
  }
  .subscriptions__body .subscriptions__header-text .subscriptions__title {
    margin-bottom: 2.4vh;
  }
  .subscriptions__body .subscriptions__header-text .subscriptions__subtitle {
    width: 290px;
  }
  .subscriptions__body .subscriptions__plans {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscriptions__body .subscriptions__plans .subscriptions__card {
    margin: 3vh 0;
    padding: 4.7vh 0 5.6vh 0;
    width: 290px;
    height: 65vh;
    min-height: 432px;
  }
  .subscriptions__body .subscriptions__plans .subscriptions__card .subscriptions__card-name {
    font-size: 1.4rem;
  }
  .subscriptions__body .subscriptions__plans .subscriptions__card .subscriptions__card-definition {
    max-width: 270px;
    margin: 1vh;
  }
  .cta__btn {
    margin-bottom: 10px !important;
  }
  .footer__navigation-row .header__logo {
    margin: 0 auto;
    position: relative;
    top: 0;
    right: 20%;
  }
}
/*# sourceMappingURL=style.css.map */