footer {
   margin: 0 50px;
}

.footer-navigation-row {
   border-bottom: 1px solid black;
   // &__logo {
   //    img {}
   //    span {} //misocial
   // }
   // &__nav {
   //    .nav__ul {
   //       li{
   //          a{}
   //       }
   //    }
   // }
}

.footer__starter-li {
   .footer__starter {  
      border: 1px solid black;
      color: black;
   }
}

.footer__bottom {
   display: flex;
   justify-content: space-between;
   font-size: 1.8rem;
   padding: 17px 0;
   margin-bottom: 15px;
   .footer__copyright {
      padding: 6px 0 0 0;
   }
   .footer__social-links {
      img {
         width: 25px;
      }
   }
}



@media (max-width: 1199px) {
   
   footer {
      margin: 0 15px;
   }   
}

@media (max-width: 991px) {

   .footer-navigation-row {
      display: flex;
      justify-content: center;

      // &__logo {

      //    img {}
      //    span {} //misocial
      // }

      &__nav {
         display: none;       
      }
   }

   .footer__bottom {  
      flex-direction: column;   
      .footer_copyright {
         order: 2;
         font-size: 1.5rem;
         padding: 18px 0 0 0;
      }    

      .footer__social-links {         
         align-self: center;
         margin-bottom: 20px;
         img {
            padding: 4px;
            margin: 7px;
            width: 46px;
         }
      }
   }
}

@media (max-width: 767px) {}

@media (max-width: 575px) {}



