.subscriptions {
   box-shadow: inset 0 -1px 0 #e8ebf1, inset 0 1px 0 #e8ebf1;
   background-color: #f9fafc;
   .subscriptions__body{
      display: flex;
      flex-direction: column;
      max-width: 1440px;
      height: 100vh; 
      min-height: 720px;
      margin: 0 auto;   
      padding: 8vh 0;   
      .subscriptions__header-text{
         width: 375px;
         height: 161px;
         margin: 0 auto;                       //!
         text-align: center;
         margin-bottom: 8.5vh;
         .subscriptions__pre-title{
            margin-bottom: 1.7vh;
            color: #9fa4af;
            font-family: "Maven Pro",  sans-serif;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.7px;
         }

         .subscriptions__pre-title:before{
            content: '';
            width: 20px;
            height: 1px;
            background-color: #6e45e2;
            display: inline-block;
            vertical-align: 5px;
            margin-right: 5px;
         }
         .subscriptions__pre-title:after{
            content: '';
            width: 20px;
            height: 1px;
            background-color: #6e45e2;
            display: inline-block;
            vertical-align: middle;
            vertical-align: 5px;
            margin-left: 5px;
         }

         .subscriptions__title{
            margin-bottom: 2.4vh;
            color: #4f4f6f;
            font-family: "Maven Pro",  sans-serif;
            font-size: 60px;
            font-weight: 500;
            letter-spacing: -1.69px;
         }
         .subscriptions__subtitle{
            width: 384px;
            color: #9fa4af;
            font-family: "Maven Pro",  sans-serif;
            font-size: 16px;
            font-weight: 400;
         }
      }
      .subscriptions__plans{
         display: flex;
         justify-content: space-between;               
         .subscriptions__card{
            margin: 0 10px;
            padding: 4.7vh 0 5.6vh 0;  
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            width: 440px;
            height: 60vh;
            min-height: 432px;
            border-radius: 30px;
            border: 1px solid #d7dbe8;
            background-color: #ffffff;
            transition: 0.3s;
            .subscriptions__card-logo{
               width: 120px; 
               height: 120px;             
            }
            .subscriptions__card-name{
               color: #5e636b;
               font-family: "Maven Pro";
               font-size: 14px;
               font-weight: 700;
               text-transform: uppercase;
               letter-spacing: 0.7px;
            }
            .subscriptions__card-price{
               position: relative;
               .subscriptions__card-price-dollar{
                  position: absolute;
                  top: 23px; left: -10px;
                  color: #4f4f6f;
                  font-family: "Maven Pro",  sans-serif;                 
                  font-size: 16px;
                  font-weight: 500;
                  letter-spacing: -0.64px;
               }
               .subscriptions__card-price-num{
                  color: #4f4f6f;
                  font-family: "Maven Pro",  sans-serif;
                  font-size: 18px;
                  font-weight: 500;
                  font-size: 60px;
                  letter-spacing: -1.69px;                  
               }
               .subscriptions__card-price-period{                  
                  color: #4f4f6f;
                  font-family: "Maven Pro",  sans-serif;
                  font-size: 18px;
                  font-weight: 500;
                  letter-spacing: -0.51px;
               }
            }
            .subscriptions__card-definition{
               max-width: 300px;
               color: #9fa4af;
               font-family: "Maven Pro",  sans-serif;
               font-size: 16px;
               font-weight: 400;
               line-height: 25px;
               margin: 0 1vh 1vh 1vh;
            }
            .subscriptions__card-btn{
               width: 190px;
               height: 50px;
               border-radius: 25px;
               border: 1px solid #d7dbe8;
               text-transform: uppercase;               
               color: #c2c9db;
               font-family: "Maven Pro";
               font-size: 12px;
               font-weight: 700;
               line-height: 47px;
               letter-spacing: 0.6px;    
               transition: 0.3s;      
            }
         }
      }
   }
}    


.card-logo1{
   background: url(../images/free-logo.png) no-repeat center;
}
.card-logo2{
   background: url(../images/standart-logo.png) no-repeat center;
}
.card-logo3{
   background: url(../images/personal-logo.png) no-repeat center;
}

.subscriptions__card:hover{
   box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
   background-color: #ffffff;
   transition: 0.3s;
   
}
.subscriptions__card-btn:hover{
      outline: none;
      box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
      background-color: #6e45e2;
      color: #ffffff;
      transition: 0.3s;
      cursor: pointer;
   }

               